In [1]:
import sys
from kaitoupao import *

storage dir: /Users/minkexiu/Downloads/GitHub/Tianchi_AIFinanceTimeSeries
code dir: /Users/minkexiu/Documents/GitHub/Tianchi_AIFinanceTimeSeries

19 09 01
先天八卦数: 1乾, 2兑, 3离, 4震, 5巽, 6坎, 7艮, 8坤
本卦上：3 本卦下：1 变爻：1

   火天大有  泽天夬  火风鼎
上卦  ☲离火  ☱兑金  ☲离火
下卦  ☰乾金  ☰乾金  ☴巽木

06 25 6 巳时
先天八卦数: 1乾, 2兑, 3离, 4震, 5巽, 6坎, 7艮, 8坤
本卦上：6 本卦下：1 变爻：6

    水天需  火泽睽 风天小畜
上卦  ☵坎水  ☲离火  ☴巽木
下卦  ☰乾金  ☱兑金  ☰乾金

# 加载数据

In [2]:
df_pred = load_data_from_originalData("predict_table")
df_train = load_data_from_originalData("product_info_simple_final_train")

pd.read_csv("/Users/minkexiu/Downloads/GitHub/Tianchi_AIFinanceTimeSeries/originalData/predict_table.csv", quoting=3, lineterminator="\n")
pd.read_csv("/Users/minkexiu/Downloads/GitHub/Tianchi_AIFinanceTimeSeries/originalData/product_info_simple_final_train.csv", quoting=3, lineterminator="\n")

In [3]:
df_train.transaction_date.min(), df_train.transaction_date.max()

(20210104, 20221109)

In [4]:
df_pred.transaction_date.min(), df_pred.transaction_date.max()

(20221110, 20221123)

In [7]:
df_pred

,product_pid,transaction_date,apply_amt_pred,redeem_amt_pred,net_in_amt_pred
0,product1,20221110,0,0,0
1,product1,20221111,0,0,0
2,product1,20221114,0,0,0
3,product1,20221115,0,0,0
4,product1,20221116,0,0,0
...,...,...,...,...,...
1385,product99,20221117,0,0,0
1386,product99,20221118,0,0,0
1387,product99,20221121,0,0,0
1388,product99,20221122,0,0,0
1389,product99,20221123,0,0,0

In [8]:
df_train

,product_pid,transaction_date,apply_amt,redeem_amt,net_in_amt,uv_fundown,uv_stableown,uv_fundopt,uv_fundmarket,uv_termmarket,during_days,total_net_value
0,product1,20210104,0.001642,0.000851,0.000791,7.918270e+05,0.0,8203723.0,0.0,0.0,0.0,NaN
1,product1,20210105,0.000170,0.002983,-0.002813,5.950510e+05,0.0,4432183.0,0.0,0.0,0.0,NaN
2,product1,20210106,0.002941,0.001342,0.001599,7.590310e+05,0.0,6924679.0,0.0,0.0,0.0,NaN
3,product1,20210107,0.005226,0.000000,0.005226,2.998870e+05,0.0,4399387.0,0.0,0.0,0.0,NaN
4,product1,20210108,0.002587,0.000000,0.002587,2.670910e+05,0.0,2333239.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
43394,product99,20221103,6.420888,7.034544,-0.613657,1.343788e+09,428517259.0,448850779.0,1349359.0,363745159.0,90.0,4.354314
43395,product99,20221104,1.522984,0.000000,1.522984,1.157736e+09,366204859.0,451802419.0,1677319.0,160245979.0,90.0,4.353480
43396,product99,20221107,1.967026,21.100487,-19.133461,2.121512e+09,780975871.0,584462239.0,2267647.0,97441639.0,90.0,4.353897
43397,product99,20221108,0.874283,8.946304,-8.072022,1.165115e+09,329145379.0,407626207.0,1283767.0,37556143.0,90.0,4.352646
43398,product99,20221109,1.040069,9.712862,-8.672793,1.119234e+09,392474455.0,344264335.0,1349359.0,34932463.0,90.0,4.351812

In [5]:
df_yield = load_data_from_originalData("cbyieldcurve_info_final")
df_yield.enddate.min(), df_yield.enddate.max()

pd.read_csv("/Users/minkexiu/Downloads/GitHub/Tianchi_AIFinanceTimeSeries/originalData/cbyieldcurve_info_final.csv", quoting=3, lineterminator="\n")

(20201102, 20221109)

In [6]:
df_yield

      enddate     yield
0    20201102  0.031500
1    20201103  0.031500
2    20201104  0.031502
3    20201105  0.031400
4    20201106  0.031408
..        ...       ...
501  20221103  0.020550
502  20221104  0.020850
503  20221107  0.021050
504  20221108  0.021550
505  20221109  0.021600

[506 rows x 2 columns]

In [13]:
df_dt = load_data_from_originalData("time_info_final")
# df_dt
df_dt.stat_date.min(), df_dt.stat_date.max()

pd.read_csv("/Users/minkexiu/Downloads/GitHub/Tianchi_AIFinanceTimeSeries/originalData/time_info_final.csv", quoting=3, lineterminator="\n")

(20201101, 20221231)

In [16]:
df_dt

,stat_date,is_trade,next_trade_date,last_trade_date,is_week_end,is_month_end,is_quarter_end,is_year_end,trade_day_rank
0,20201101,0,20201102,20201030,0,0,0,0,0
1,20201102,1,20201103,20201030,0,0,0,0,7299
2,20201103,1,20201104,20201102,0,0,0,0,7300
3,20201104,1,20201105,20201103,0,0,0,0,7301
4,20201105,1,20201106,20201104,0,0,0,0,7302
...,...,...,...,...,...,...,...,...,...
786,20221227,1,20221228,20221226,0,0,0,0,7824
787,20221228,1,20221229,20221227,0,0,0,0,7825
788,20221229,1,20221230,20221228,0,0,0,0,7826
789,20221230,1,20230103,20221229,1,1,1,1,7827
790,20221231,0,20230103,20221230,0,0,0,0,0

# 做特征

# 分数据

In [3]:
df_train = df_train[
    df_train.product_pid.isin(
        df_pred.product_pid.to_list()
    )
].reset_index(drop=True)

In [4]:
train_test_perc = 0.8

In [6]:
df_train['pid_date_rank'] = df_train.groupby('product_pid')['transaction_date'].rank(ascending=True, method='first').astype(int)
df_train['pid_quant'] = df_train.groupby('product_pid')['product_pid'].transform('size')
df_train['pid_time_perc'] = df_train['pid_date_rank']/df_train['pid_quant']

train_dt, test_dt = df_train[df_train.pid_time_perc<=train_test_perc], df_train[df_train.pid_time_perc>train_test_perc]